:root {
    &, &.dark {
        --main-background-color: hsl(231, 15%, 8%);
        --component-background-color: hsl(231, 12%, 12%);
        --element-background-color: hsl(0, 0%, 23%);
        --primary-text-color: hsl(0, 0%, 93%);
        --secondary-text-color: hsl(0, 0%, 85%);
    }

    &.light {
        --main-background-color: hsl(0, 0%, 90%);
        --component-background-color: hsl(0, 0%, 84%);
        --element-background-color: hsl(0, 0%, 78%);
        --primary-text-color: hsl(0, 0%, 12%);
        --secondary-text-color: hsl(0, 0%, 18%);
    }

    --button-background-color: hsl(231, 59%, 56%);
    --button-text-color: hsl(0, 0%, 94%);
    --shadow-color: hsl(231, 15%, 3%);
}
