.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 2.75rem 1.0625rem;

    &__header {
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
    }
}

@media screen and (min-width: 62em) {
    .projects {

        &__header {
            margin-bottom: 2.25rem;
            font-size: 1.625rem;
        }
    }
}

@media screen and (min-width: 90em) {
    .projects {
        padding: 3.75rem 1.0625rem;

        &__header {
            margin-bottom: 2.75rem;
            font-size: 2rem;
        }
    }
}
