.logo {
    margin-left: 0.5rem;

    &__link {

        & > svg {
            width: 1.625rem;
            height: 1.625rem;
            fill: var(--primary-text-color);
            transition: all 0.25s ease-in-out;
        }

        &:hover > svg {
            fill: var(--button-background-color);
        }
    }
}

@media screen and (min-width: 62em) {
    .logo {
        margin-left: 0.625rem;
    
        &__link {
    
            & > svg {
                width: 1.75rem;
                height: 1.75rem;
            }
        }
    }
}
