.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 0.375rem;

    &__container {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}