.skills-item {
        
    & > svg {
        width: 2.875rem;
        height: 2.875rem;
        fill: var(--primary-text-color);
    }
}

@media screen and (min-width: 62em) {
    .skills-item {
    
        & > svg {
            width: 3.125rem;
            height: 3.125rem;
        }
    }
}

@media screen and (min-width: 90em) {
    .skills-item {
    
        & > svg {
            width: 3.875rem;
            height: 3.875rem;
        }
    }
}
