.skills {
    margin-top: 3rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
        column-gap: 1.125rem;
        row-gap: 1.25rem;
    }
}

@media screen and (min-width: 62em) {
    .skills {
    
        &__list {
            display: flex;
            column-gap: 1.375rem;
        }
    }
}

@media screen and (min-width: 90em) {
    .skills {
        margin-top: 4rem;
    
        &__list {
            column-gap: 2.625rem;
        }
    }
}
