*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}
